= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        テストグループ
      %a.chat-main__header--group-edit-btn
        Edit
    .chat-main__header-members
      MEMBER:
      %i
        - @memders.each do |memder|
          =memder.name

  .chat-main__body
    = render partial: 'chat-main__message', collection: @messages, as: "message"

  .chat-main__footer
    = form_for [@group, @message], html: {class: "chat-main__footer-form", id: "new_comment"} do |f|
      .chat-main__footer-body
        = f.text_field :content, class: 'message', id:'message_body', placeholder: 'type a message'
        = f.label :image, class: 'chat-file' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'image'
        = f.submit 'Send', class: 'submit'

